@import '~bootstrap/scss/bootstrap';
@import '~react-toastify/dist/ReactToastify.css';

.btn-send:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
}

.min-w-auto {
  min-width: auto !important;
}

.fw-bold {
  font-weight: 700 !important;
}