@import '~bootstrap/scss/bootstrap';
@import '~react-toastify/dist/ReactToastify.css';

.btn-send:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
}

.min-w-auto {
  min-width: auto !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.follow-button {
  bottom: 5px !important;
  right: 5px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.follow-button::after {
  position: absolute;
  top: 0;
  left: 9px;
  font-size: 24px;
  font-weight: bold;
  content: '⮟';
}